<style>
    label.xrequired:before {
        content: '*';
        color: red;
    }
    a:hover {
        cursor: pointer;
    }

</style>



<h2>Book System</h2>

<div class="form-horizontal">

    @*Search*@
    <div id=" Search">
        <div class="form-group">
            <label class="control-label col-md-2">書本名稱</label>
            <div>
                <input class="form-control input-width" id="book_name" style="width: 280px;" type="text" />
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-md-2">圖書類別</label>
            <div>
                <select id="BookClassId" style="width: 280px; "></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">借閱人</label>
            <div>
                <select id="KeeperId" style="width: 280px; "></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">借閱狀態</label>
            <div>
                <select id="BookStatusCode" style="width: 280px; "></select>
            </div>
        </div>

        <div class="form-group">
            <div class=" col-md-offset-3">
                <button id="search" class="btn btn-primary">查詢</button>
                <button id="clear" class="btn btn-danger">清除</button>
                <button id="create" class="btn btn-success">新增</button>
            </div>
        </div>

    </div>

    <div id="book_grid"></div>


    @*lend Record Window*@
    <div id="lendRecordWindow">
        <div id="lend_grid"></div>
    </div>

    @*Detail Window*@
    <div id="DetailWindow">

        <div class="form-horizontal">

            <div class="form-group">
                <label class="req control-label col-md-2">書名</label>
                <div class="col-md-6">
                    <input id="DetailBookName" name="BookName" disabled="disabled" class="form-control" type="text" required />
                </div>
            </div>

            <div class="form-group">
                <label class="req control-label col-md-2">作者</label>
                <div class="col-md-6">
                    <input id="DetailBookAuthor" name="DetailBookAuthor" disabled="disabled" class="form-control" type="text" required />
                </div>
            </div>

            <div class="form-group">
                <label class="req control-label col-md-2">出版商</label>
                <div class="col-md-6">
                    <input id="DetailBookPublisher" name="BookPublisher" disabled="disabled" class="form-control" type="text" required />
                </div>
            </div>

            <div class="form-group">
                <label class="req control-label col-md-2">內容簡介</label>
                <div class="col-md-6">
                    <textarea oninput="auto_grow(this)" id="DetailBookNote" name="BookNote" disabled="disabled" class="form-control" type="text" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="req control-label col-md-2">購書日期</label>
                <div class="col-md-6">
                    <input id="DetailBookBoughtDate" name="BookBoughtDate" disabled="disabled" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="req control-label col-md-2">購書金額</label>
                <div class="col-md-6">
                    <input id="DetailBookAmount" name="BookAmount" disabled="disabled" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="req control-label col-md-2">圖書類別</label>
                <div class="col-md-6">
                    <input id="DetailBookClassId" name="BookClassId" disabled="disabled" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label class="req control-label col-md-2">借閱狀態</label>
                <div class="col-md-6">
                    <input id="DetailBookStatusCode" name="BookStatusCode" disabled="disabled" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">借閱人</label>
                <div class="col-md-6">
                    <input id="DetailKeeperId" name="KeeperId" disabled="disabled" class="form-control" />
                </div>
            </div>

        </div>

    </div>

    @*Insert window*@
    <div id="InsertWindow">

        <div class="uk-container align-center">
            <div class="">

                <div class=" form-horizontal">
                    <div class="form-group">
                        <label class="control-label  col-md-2 xrequired">書名</label>
                        <div class="col-md-6">
                            <input class="form-control input-width" id="InsertBookName" name="BookName" type="text" value="" required />

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 xrequired">作者</label>
                        <div class="col-md-6">
                            <input class="form-control input-width" id="InsertBookAuthor" name="BookAuthor" type="text" value="" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 xrequired">出版商</label>
                        <div class="col-md-6">
                            <input class="form-control input-width" id="InsertBookPublisher" name="BookPublisher" type="text" value="" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 xrequired">內容簡介</label>
                        <div class="col-md-6">
                            <textarea oninput="auto_grow(this)" class=" form-control" id="InsertBookNote" name="BookNote" type="text" value="" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 xrequired">購書日期</label>
                        <div class="col-md-6">
                            <input class="form-control input-width" id="InsertBookBoughtDate" name="BookBoughtDate" type="date" value="" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 xrequired">圖書類別</label>
                        <div class="col-md-6">
                            <input class="form-control input-width" id="InsertBookClassId" name="BookClassId" type="text" value="" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 xrequired">購書金額</label>
                        <div class="col-md-6">
                            <input class="form-control input-width" id="InsertBookAmount" name="BookAmount" type="text" value="" required />
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-offset-10">
                        <button id="insert" class="btn btn-success">新增</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @*Upadte Window*@
    <div id="UpdateWindow">

        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label  col-md-2 xrequired" for="BookName">書名</label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="此欄位必填" id="UpdateBookName" name="BookName" type="text" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label  col-md-2 xrequired" for="BookName">作者</label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="此欄位必填" id="UpdateBookAuthor" name="BookAuthor" type="text" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label  col-md-2 xrequired" for="BookName">出版商</label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="此欄位必填" id="UpdateBookPublisher" name="BookPublisher" type="text" required />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label  col-md-2 xrequired">內容簡介</label>
                <div class="col-md-6">
                    <textarea oninput="auto_grow(this)" id="UpdateBookNote" name="BookNote" class=" form-control" type="text" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label  col-md-2 xrequired">購書日期</label>
                <div class="col-md-6">
                    <input id="UpdateBookBoughtDate" name="BookBoughtDate" class="form-control" required />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label  col-md-2 xrequired">購書金額</label>
                <div class="col-md-6">
                    <input id="UpdateBookAmount" name="BookAmount" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label  col-md-2 xrequired">圖書類別</label>
                <div class="col-md-6">
                    <input id="UpdateBookClassId" name="BookClassId" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label  col-md-2 xrequired">借閱狀態</label>
                <div class="col-md-6">
                    <input id="UpdateBookStatusCode" name="BookStatusCode" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">借閱人</label>
                <div class="col-md-6">
                    <input id="UpdateKeeperId" name="KeeperId" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6">
                    <button id="Save" class="btn btn-success">存檔</button>
                    <button id="Delete" class="btn btn-danger">刪除</button>
                </div>
            </div>

        </div>
    </div>
</div>



<script>
    var validatorInsert = $("#InsertWindow").kendoValidator(validatorOption).data("kendoValidator");

    $(document).ready(function () {

        getDropDownList("#BookClassId", "GetBookClassListData");
        getDropDownList("#KeeperId", "GetBookKeeperListData");
        getDropDownList("#BookStatusCode", "GetBookStatusListData");
        kendoDefaultSetting();

        // AutoComplete
        $("#book_name").kendoAutoComplete({
            placeholder: "Select Book...",
            clearButton: false,
            filter: "contains",
            dataSource: {
                type: "post",
                transport: {
                    read: {
                        url: "/Book/GetAllBook",
                        type: "post",
                        dataType: "json"
                    }
                }
            }
        });

        $("#book_grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        type: "POST",
                        url: "/Book/GetSearchResult",
                        dataType: "json",
                        data: function () {
                            return {
                                BookName: $("#book_name").val(),
                                BookClassId: $("#BookClassId").data("kendoDropDownList").value(),
                                KeeperId: $("#KeeperId").data("kendoDropDownList").value(),
                                BookStatusCode: $("#BookStatusCode").data("kendoDropDownList").value()
                            }
                        }
                    }
                },
                pageSize: 20
            },
            sortable: true,
            pageable: {
                input: true,
                numeric: false
            },
            width: 1200,
            columns: [

                { field: "BookClassName", title: "圖書類別", width: "18%" },
                {
                    field: "BookName", title: "書籍名稱", width: "32%",
                    template: "<a onclick=\"OpenDetailWindow()\" style='color: blue;'>#=BookName#</a>"

                },
                { field: "BookBoughtDate", title: "購買日期", width: "20%" },
                { field: "BookStatus", title: "書籍狀態", width: "15%" },
                { field: "UserName", title: "借閱人", width: "15%" },
                {
                    command: [
                        { className: "btn-success", text: "借閱紀錄", click: OpenRecordWindow },
                        { className: "btn-primary", text: "修改", click: OpenUpdateWindow },
                        { className: "btn-danger", text: "刪除", click: DeleteBook }
                    ],
                    title: " ", width: "40%"
                }
            ]
        });

        /** Search button */
        $("#search").click(function (e) {
            e.preventDefault();
            $("#book_grid").data("kendoGrid").dataSource.read();

        });

        /** create button */
        $("#create").click(function (e) {

            validatorInsert.reset();
            $("#InsertWindow").data("kendoWindow").open().center();
            getDropDownList("#InsertBookClassId", "GetBookClassListData");
            auto_grow("#InsertBookNote");
            
            
        });

        /** insert button */
        $("#insert").on("click", function (e) {
            //順序顛倒比較好
            if (validatorInsert.validate() && confirm("確定新增書籍?")  ) {
                $.ajax({
                    type: "POST",
                    url: "/Book/InsertBook",
                    data: {
                        BookName: $("#InsertBookName").val(),
                        BookAuthor: $("#InsertBookAuthor").val(),
                        BookPublisher: $("#InsertBookPublisher").val(),
                        BookNote: $("#InsertBookNote").val(),
                        BookBoughtDate: $("#InsertBookBoughtDate").val(),
                        BookClassID: $("#InsertBookClassId").data("kendoDropDownList").value(),
                        BookAmount: $("#InsertBookAmount").data("kendoNumericTextBox").value()

                    },
                    dataType: "json",
                    success: function (response) {
                        alert("新增成功");
                        $("#book_grid").data("kendoGrid").dataSource.read();
                    },
                    error: function (error) {
                        alert("系統發生錯誤");
                    },
                    beforeSend: function () {
                        kendo.ui.progress($("#InsertWindow"), true);
                    },
                    complete: function () {
                        kendo.ui.progress($("#InsertWindow").data("kendoWindow").element, false);
                    }
                });
            }
        });

        ///清除輸入
        $("#clear").click(function () {
            $("#book_name").val("");
            $("#BookClassId").data("kendoDropDownList").select(0);
            $("#KeeperId").data("kendoDropDownList").select(0);
            $("#BookStatusCode").data("kendoDropDownList").select(0);
        });


        //借閱的視窗
        $("#lendRecordWindow").kendoWindow({
            width: "700px",
            height: "480px",
            title: "借閱紀錄 ",
            visible: false,
            modal: true
        }).data("kendoWindow");


        //Detail 的視窗
        $("#DetailWindow").kendoWindow({
            width: "450px",
            modal: true,
            maxHeight: "85%",
            title: "書籍明細",
            visible: false,
            pinned: true,
            resizable: false
        }).data("kendoWindow");

        //Insert 的視窗
        $("#InsertWindow").kendoWindow({
            width: "450px",
            modal: true,
            maxHeight: "85%",
            title: "新增書本",
            visible: false,
            pinned: true,
            resizable: false,
            close: function (e) {
                $("#InsertBookName").val("");
                $("#InsertBookAuthor").val("");
                $("#InsertBookPublisher").val("");
                $("#InsertBookNote").val("");
                $("#InsertBookBoughtDate").data("kendoDatePicker").value(kendo.toString(new Date(), "yyyy/MM/dd"));              
                $("#InsertBookClassId").data("kendoDropDownList").value("");
                $("#InsertBookAmount").data("kendoNumericTextBox").value("")
            }
        }).data("kendoWindow");

        // Update 的視窗
        $("#UpdateWindow").kendoWindow({
            width: "450px",
            modal: true,
            maxHeight: "85%",
            title: "修改書本",
            visible: false,
            pinned: true,
            resizable: false
        }).data("kendoWindow")

    })


</script>
